<section>
  <div class="long__content text-2xl text-teal-400">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic perspiciatis
    libero, nostrum possimus a quisquam illum voluptates quia molestiae debitis
    aut iure at eius harum voluptate in nam asperiores ducimus sit. Amet eveniet
    voluptate omnis dignissimos vel blanditiis possimus at adipisci eos totam!
    Vel quaerat, deserunt obcaecati dolores reprehenderit omnis voluptate quae
    pariatur. Rerum nihil reiciendis voluptatibus ut ex quam eum, illo rem eius
    reprehenderit perferendis natus doloremque amet itaque esse unde officiis
    mollitia ipsam architecto veniam, sequi est nisi cupiditate? Cupiditate,
    debitis quibusdam sed facilis dolore eligendi cum quas ducimus tempore sunt
    eum, ipsa voluptatum reprehenderit non illum voluptates voluptatem illo
    sapiente necessitatibus quis id aspernatur atque culpa voluptas! Provident,
    ducimus ut nihil mollitia, ex placeat laborum, velit distinctio numquam
    aperiam maiores itaque temporibus at ad suscipit sapiente aspernatur saepe.
    Laborum quo ut eum, totam doloribus minima a amet saepe mollitia facere!
    Sint consequatur perspiciatis, aliquam porro voluptatum nostrum nesciunt
    nisi repellat, architecto eos ipsam sed dignissimos rem quo autem est error
    quas repudiandae dolorum id. Accusamus saepe, officiis repudiandae veritatis
    sunt cumque impedit dolorem laudantium minus soluta corporis ullam
    voluptates temporibus veniam et, ducimus obcaecati quidem facere nihil
    molestias aliquid ad. Iusto eligendi cupiditate corporis iste minus, ipsum,
    assumenda non aut ratione reiciendis pariatur quo expedita blanditiis dolore
    nostrum doloremque atque perferendis dignissimos perspiciatis praesentium
    ipsam omnis repellat numquam. Perferendis odit, quisquam ad obcaecati dicta
    tenetur est ducimus voluptatem, et sed nulla hic at quo incidunt voluptas
    dolorem laudantium maxime. Quidem laudantium eligendi rerum hic recusandae.
    Commodi debitis soluta deleniti necessitatibus accusamus libero vel? Quod
    commodi fuga quisquam itaque vero consequuntur nemo numquam incidunt veniam
    tenetur omnis adipisci facilis aliquam, recusandae rem sit saepe ipsum
    voluptatum vitae nam molestias dolore alias. Quidem reprehenderit quibusdam
    atque dolorum optio, quod expedita ducimus asperiores eveniet, alias
    pariatur aspernatur nisi assumenda soluta est, consequatur tempora saepe.
    Sit quia odio, eveniet porro laudantium nostrum iste culpa reiciendis earum
    saepe! Voluptatem animi ipsum vero vel officia deleniti repellendus
    incidunt, ducimus facilis! Nobis eos dolor repudiandae voluptates fugit
    similique deserunt quasi libero, amet vitae? Dolore reprehenderit in ab
    sequi, possimus odit eveniet explicabo magnam quam officia dolores
    accusantium rem eos quidem debitis voluptas reiciendis nisi! Facilis magnam
    deserunt odio enim magni culpa perspiciatis eaque vel, libero illum fuga
    porro illo quaerat quasi cum dolorem repellendus blanditiis rem, cupiditate
    minima fugiat inventore sed. Eos in illum voluptate exercitationem, esse
    maxime rerum cumque perferendis nemo vel unde quidem. Accusamus quibusdam
    quod, doloremque, iure eius dolore, deserunt laborum earum reiciendis vitae
    harum? Cupiditate, quidem totam! Sint unde tenetur provident explicabo rerum
    voluptate cupiditate esse sapiente illum neque doloribus facilis labore
    fugiat atque quod tempore sequi, incidunt magnam necessitatibus quo
    aspernatur! Nobis repudiandae nihil cumque architecto incidunt explicabo
    molestias velit quas, fuga odit inventore esse voluptatem qui, eum soluta
    aliquam magni animi. Aliquam accusantium tempora culpa corrupti nisi,
    maiores vel voluptatem veniam iure soluta laboriosam consequuntur doloremque
    temporibus totam ipsam perspiciatis dignissimos possimus quo commodi officia
    beatae ducimus provident maxime? Error inventore molestiae laborum atque
    accusantium sunt, eos, illum aliquam repudiandae consequuntur omnis pariatur
    reprehenderit deserunt eius? Eos corrupti fuga vitae a libero, nihil
    cupiditate praesentium expedita quod quas cumque eum commodi molestias
    beatae necessitatibus! Ullam soluta odit ea debitis sed quisquam magni
    voluptatibus at sint qui ad quia facere dolores adipisci est, accusantium
    sequi distinctio unde dolor inventore? Asperiores quam sequi perferendis
    excepturi labore saepe aliquid repudiandae rem impedit mollitia? Sint odio
    voluptatum inventore ea, excepturi reprehenderit fugiat ratione et fuga
    culpa quo, ex doloribus placeat sequi neque in corrupti magni voluptates.
    Ullam delectus dignissimos atque ipsam suscipit ea molestias, provident,
    architecto ab sequi adipisci similique eius, quod laboriosam maiores! Illum
    cum, magnam similique maxime quia accusantium beatae harum, mollitia dolore
    rem officiis odio quidem laboriosam tenetur enim! Molestiae, molestias
    explicabo repudiandae necessitatibus nihil alias nisi, assumenda delectus
    odit labore eum accusantium enim earum dignissimos quidem veritatis quo nam
    ex magni maxime! Obcaecati iure tempore minus soluta quam laudantium
    delectus vel excepturi, a aspernatur eius nostrum asperiores architecto, aut
    quidem magnam minima hic similique ex debitis tempora molestias pariatur,
    recusandae fugiat. Dolor similique, voluptates tempore commodi natus nisi!
    Iusto, autem illo eveniet, consectetur mollitia veritatis non molestias
    consequuntur ipsum, quia laborum minus blanditiis hic at. Quisquam, dolores
    consectetur! Adipisci eius voluptas dolorum corrupti consequuntur
    voluptatibus fuga! Harum sit accusamus delectus repellendus a, quia maxime
    iure at provident. Provident maiores repellendus laboriosam maxime voluptas
    exercitationem quasi nemo vitae, hic, illum dolores in perspiciatis
    quibusdam, eos doloremque ipsum rem distinctio repudiandae culpa reiciendis
    deserunt iste. Quis atque odit labore vero repudiandae enim provident,
    quibusdam natus dolorem sapiente voluptates commodi eligendi architecto ex
    perspiciatis, quam porro, voluptatibus molestiae minima eveniet sed.
    Reprehenderit dolorum earum voluptatibus eligendi velit, officiis alias
    aspernatur molestias, rerum illum et ducimus nam, hic exercitationem omnis
    iure nostrum cum culpa? Excepturi ratione inventore corrupti voluptas fuga
    repudiandae soluta nulla distinctio non animi iste laboriosam, pariatur ut
    debitis cum labore consectetur aspernatur temporibus id libero aliquam neque
    sunt! Dolore sed laborum velit recusandae voluptas, possimus, tempore
    voluptatibus accusantium molestias hic voluptatem magni tenetur. Odio
    reprehenderit voluptates nobis temporibus ducimus non cumque facilis
    adipisci dicta quisquam veritatis ut repellat laudantium porro provident
    repudiandae, quidem consequuntur fugit. Possimus nisi quae omnis atque autem
    neque architecto maxime, soluta, rerum vero itaque molestiae sit odio
    quibusdam ipsum quam odit expedita mollitia repudiandae iusto assumenda.
    Quod quae sapiente exercitationem maxime debitis natus perspiciatis aliquam
    assumenda. Error iste quis voluptatibus cum culpa sit temporibus.
    Dignissimos amet autem ea esse error quidem eum. Eligendi distinctio
    necessitatibus facere aut excepturi officiis veritatis omnis est facilis?
    Rerum mollitia labore placeat eius ipsa veniam ab quas officia animi iste,
    quaerat non sed vitae ipsum voluptatem possimus dignissimos illo voluptate?
    Voluptas minima nihil culpa vero nemo incidunt eius soluta, delectus iusto
    laborum quae qui sed veniam ratione tenetur odio minus molestiae, inventore
    quidem esse, accusamus architecto eum consequuntur? Dicta officiis
    blanditiis rem ut, corporis beatae eius quae sed placeat? Laudantium hic
    quibusdam accusamus facere, odio voluptates molestias nemo blanditiis quod
    ratione, aliquam odit. Magnam minus blanditiis laborum error, optio
    deleniti!
  </div>
</section>
