<section>
  <div class="container">
    <h1 class="text-3xl text-center text-primary">{{ headerMessage }}</h1>
  </div>
</section>

<section>
  <div class="long__content text-2xl text-teal-400">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic perspiciatis
    libero, nostrum possimus a quisquam illum voluptates quia molestiae debitis
    aut iure at eius harum voluptate in nam asperiores ducimus sit. Amet eveniet
    voluptate omnis dignissimos vel blanditiis possimus at adipisci eos totam!
    Vel quaerat, deserunt obcaecati dolores reprehenderit omnis voluptate quae
    pariatur. Rerum nihil reiciendis voluptatibus ut ex quam eum, illo rem eius
    reprehenderit perferendis natus doloremque amet itaque esse unde officiis
    mollitia ipsam architecto veniam, sequi est nisi cupiditate? Cupiditate,
    debitis quibusdam sed facilis dolore eligendi cum quas ducimus tempore sunt
    eum, ipsa voluptatum reprehenderit non illum voluptates voluptatem illo
    sapiente necessitatibus quis id aspernatur atque culpa voluptas! Provident,
  </div>
</section>
