<div class="page__container">
  <aside>
    <section>
      <h2>Sidebar Section</h2>
      <p class="text-xl text-gray-500">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam,
        reprehenderit blanditiis distinctio corporis quaerat pariatur autem
        recusandae quasi earum repudiandae nihil itaque praesentium laudantium
        qui. Sed nihil dicta officiis iusto.
      </p>
    </section>
  </aside>
  <main>
    <section>
      <div>
        <router-outlet />
      </div>
    </section>
  </main>
</div>

<!-- <footer>
  <section>
    <h1 class="text-xl text-gray-500 text-center">
      &copy;2024 all rights reversed by team.
    </h1>
  </section>
</footer> -->
